//负责全局颜色设置，在编译期间，主题颜色常量应首先由预处理器解析，然后应用于全文上下文。


// 颜色
$accentColor = #3eaf7c //强调颜色
$textColor = #2c3e50   //文本颜色
$borderColor = #eaecef //边框颜色
$codeBgColor = #282c34 //代码背景颜色
$arrowBgColor = #ccc   //箭头背景颜色
$badgeTipColor = #42b983  
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961


// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px